- var siteTitle = "Site title";
- var siteDescription = "Site description";
- var baseUrl = "https://site-url.com";
- var pageTitle = "";
- var bodyClass = "";

//- Including Icon mixins
include ../mixins/icons
//- Including Alert mixins
include ../mixins/alerts
//- Including Tooltip mixins
include ../mixins/tooltips
include ../mixins/card
//- Including Accordion mixins
include ../mixins/accordion
//- Including Carousel mixins
include ../mixins/carousel
//- Including Table mixins
include ../mixins/tables
//- Including Navbar mixins
include ../mixins/navbar
//- Including Toggle Button mixins
include ../mixins/toggle
//- Including Nav mixins
include ../mixins/navs
//- Including Label mixins
include ../mixins/labels
//- Including Panel mixins
include ../mixins/panels
//- Including Tab mixins
include ../mixins/tabs
//- Including Dropdown mixins
include ../mixins/dropdowns
//- Including Form control mixins
include ../mixins/forms
//- Including Modal dialog mixins
include ../mixins/modal
//- Including List group mixins
include ../mixins/list-groups
//- Including Progress bar mixins
include ../mixins/progress-bars
//- Including Button mixins
include ../mixins/buttons
//- Including Image mixins
include ../mixins/images
//- Including Bootswatch theme mixins
include ../mixins/bootswatch

block vars

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content=siteDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageTitle + " - " + siteTitle

    //- OG meta tags
    meta(property="og:type", content="website")
    meta(property="og:title", content=siteTitle)
    meta(property="og:description", content=siteDescription)
    meta(property="og:image", content=baseUrl + "/images/og-image.jpg")
    meta(property="og:url", content=baseUrl)

    link(href="css/style.css" + assetVersion, rel="stylesheet")
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  body(class=bodyClass)
    // Wrapper
    .wrapper
      // Header
      header.header
        .container
          nav
            ul
              li
                a(href="/") Home
              li
                a(href="page.html") Page

            p Hello there

      //- Main
      block content

      // Footer
      footer.footer
        .container
          p Footer information

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")
    script(src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous")
    script(src="js/scripts.js" + assetVersion)