- var siteTitle = "Site title";
- var siteDescription = "Site description";
- var baseUrl = "https://site-url.com";
- var pageTitle = "";
- var bodyClass = "";

block vars

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content=siteDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageTitle + " - " + siteTitle
    
    //- OG meta tags
    meta(property="og:type", content="website")
    meta(property="og:title", content=siteTitle)
    meta(property="og:description", content=siteDescription)
    meta(property="og:image", content=baseUrl + "/images/og-image.jpg")
    meta(property="og:url", content=baseUrl)

    link(href="css/style.css" + assetVersion, rel="stylesheet")
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  body(class=bodyClass)
    .app
      block content

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")
    script(src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/8b0174b394.js" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js")
    script(type="text/javascript")
      include inline/home.js
    script(src="js/scripts.js" + assetVersion)